.my-nav {
  background-color: #0d4d6b !important;
}
.my-header,
#about {
  background-color: #1292b5 !important;
}
.logo {
  width: 70px;
  height: 70px;
}
.profile {
  border-radius: 50% !important;
  width: 280px !important;
  height: 280px !important;
}
.contact-msg {
    width: 45%;
    margin: 40px auto 60px;
  }
.footer{
    background-color: #375A7F !important;
}
.ex{
    font-weight: bold !important;
    color: #375A7F !important;
}

.btn {
  background-color: #0d4d6b !important;
}
.btn:hover {
  background-color: #1292b5 !important;
}
.copyright{
    background-color: #253b54 !important;
}
.contact{
    text-align: center;
}
.contact-btn {
    background: #1292b5;
    background-image: -webkit-linear-gradient(top, #1292b5, #0d4d6b);
    background-image: -moz-linear-gradient(top, #1292b5, #0d4d6b);
    background-image: -ms-linear-gradient(top, #1292b5, #0d4d6b);
    background-image: -o-linear-gradient(top, #1292b5, #0d4d6b);
    background-image: linear-gradient(to bottom, #1292b5, #0d4d6b);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff !important;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .contact-btn:hover {
    background: #34a2c1;
    background-image: -webkit-linear-gradient(top, #34a2c1, #33a4c3);
    background-image: -moz-linear-gradient(top, #34a2c1, #33a4c3);
    background-image: -ms-linear-gradient(top, #34a2c1, #33a4c3);
    background-image: -o-linear-gradient(top, #34a2c1, #33a4c3);
    background-image: linear-gradient(to bottom, #34a2c1, #33a4c3);
    text-decoration: none;
  }
  #mainNav .navbar-nav li.nav-item a.nav-link:focus {
    color: #f7cb18 !important;
  }
  

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #f7cb18 !important;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #0d4d6b !important;
}
#MySkills,
#contact {
  background-color: #fafa9f;
}
